<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>Admin Pannel</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
  </head>
  <style>
    html {
      margin-left: 15%;
      margin-right: 15%;
    }
    h1 {
      text-align: center;
      font-size: 6em;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
    }
    h2 {
      text-align: center;
      margin-bottom: 2em;
      font-family: 'Montserrat', sans-serif;
    }
    body {
      margin-top:10em;
      border:.15em solid black;
      padding:2em;
    }
  </style>
  {%if error_code%}
  <div class="alert alert-primary" role="alert">
    {{error_code}}
  </div>
  {%endif%}
  <h1>WebShell C2</h1>
  <h2>Login</h2>
  <body>
    <form method="POST">
      <div class="form-group">
        <input name="username" type="text" class="form-control" placeholder="Username">
      </div>
      <div class="form-group">
        <input name="password" type="password" class="form-control" placeholder="Password">
        <small id="emailHelp" class="form-text text-muted">Any violations will be reported !</small>
      </div>
      <button type="submit" class="btn btn-outline-secondary">Login</button>
    </form>

  </body>
</html>
