<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <title>Feedback Pannel</title>
  </head>
  <style>
    html {
      margin-left: 15%;
      margin-right: 15%;
    }
    h1 {
      margin-top:2.5em;
      font-size: 6em;
      margin-bottom:.5em;
      text-align:center;
      font-family: 'Montserrat', sans-serif;
    }
    h2 {
      margin-top: 1em;
      font-family: 'Montserrat', sans-serif;
    }
    a {
      margin-bottom:.5em;
    }
  </style>
  {%if error%}
  <div class="alert alert-primary" role="alert">
    {{error}}
  </div>
  {%endif%}
  <h1>Feedback Pannel</h1>
  <body>
    <form method="POST">
      <div class="form-group">
        <input name="id" type="text" class="form-control" placeholder="Id">
      </div>
      <button type="submit" class="btn btn-outline-secondary btn-lg btn-block">Fetch</button>
    </form>
  {%if content%}
  <h2>Command feedback:</h2>
  <a href={{url}}>Refresh</a>
  <ul class="list-group">
  {%for i in content.split("\n\n")%}
    <li class="list-group-item">
      {%for j in i.split("\n")%}
      <p>{{j}}</p>
      {%endfor%}
    </li>
  {%endfor%}
  </ul>
  {%endif%}
  </body>
</html>
