<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
  </head>
  <style>
    html {
      background-color:#4C516D;
      color:white;
    }
    body {
      text-align:center;
    }
    a {
      color: white;
      font-size:3em;
    }
    h1 {
      margin-top:1.8em;
      font-size:10em;
      color:white;
      margin-bottom:.4em;
      font-family: 'Montserrat', sans-serif;
    }
  </style>
  <body>
    <h1>WebShell C2</h1>
    <a style="color:white;font-size:1.4em;font-family: 'Montserrat', sans-serif;text-decoration:none;" href="/account">Go to account page.</a>

  </body>
</html>
