<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="refresh" content="15">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
  </head>
  <style>
  h1 {
    text-align: center;
    font-size: 6em;
    margin-top: 2.5em;
    margin-bottom: .5em;
    font-family: 'Montserrat', sans-serif;
  }
  ul label {
    width:33%;
    text-align: center;
  }
  h2 {
    font-family: 'Montserrat', sans-serif;
  }
  body {
    margin-right: 15%;
    margin-left: 15%;
  }
  </style>
  {%if error_code%}
  <div class="alert alert-primary" role="alert">
  {{error_code}}
  </div>
  {%endif%}
  <body>
    <h1>Remove Client :</h1>
    <h2>Interact:</h2>
    <form method="POST">
    <div class="form-group">
      <input name="id-text" type="text" class="form-control" placeholder="Id">
      <small id="emailHelp" class="form-text text-muted">The client will be deleted.</small>
    </div>
    <button type="submit" class="btn btn-outline-secondary btn-lg btn-block">Remove</button>
    </form>
    <h2>All the clients :</h2>
    <ul class="list-group">
      {%for i in content%}
        <li class="list-group-item"><label>{{i[0]}}</label><label>{{i[1]}}</label><label>{{i[2]}}</label></li>
      {%endfor%}
    </ul>
  </body>
</html>
